@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(/bg.png);
    background-position: center;
    background-size: cover;
}